@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Verifying that this is the About This Page Page.</p>
<hr> First Name @Html.TextBox(" ")
<hr> Last Name @Html.TextBox(" ")
<hr> Email @Html.TextBox(" ")
<hr> Password @Html.TextBox(" ")
<hr> Gender @Html.TextBox(" ")<hr />
<button type="button">Submit</button>